.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .top-bar {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #f5f5f5;
    justify-content: center;
    box-shadow: 2px 2px 8px #a2a1a1;
    padding: 0 15px;
  }
  .left-sidebar {
    flex-grow: 1;
    height: 100vh;
    border-right: 1px solid #ccc;
    max-width: 300px;
    width: 100%;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: calc(100vh - 70px);
      overflow-y: auto;
      li {
        border-bottom: 1px solid #ccc;
        padding: 15px;
        display: flex;
        align-items: center;
        flex-flow: wrap;
        margin: 15px;
        transition: all ease-in 0.2s;
        &:hover {
          box-shadow: 2px 3px 8px #ccc;
        }
        p {
          margin: 0;
          display: inline-block;
          width: 80%;
          &.title {
            font-weight: 600;
            margin-bottom: 5px;
            font-size: 18px;
          }
        }
        a {
          display: inline-flex;
          width: 30px;
          text-align: right;
          margin-top: -25px;
          align-self: self-start;
          justify-content: flex-end;
          text-decoration: none;
          font-size: 24px;
          font-weight: 700;
          margin-left: 15px;
        }
      }
    }
  }
  .right-sidebar {
    flex-grow: 6;
    height: 100vh;
    border: 0;
    padding: 15px;
    .button-block {
      display: block;
      float: right;
      clear: both;
      margin-bottom: 20px;
    }
    form {
      display: block;
      width: 100%;
      float: left;
    }
    .form-input {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.2rem;
      label {
        margin-bottom: 8px;
      }
      input,
      textarea {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s,
          box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s,
          box-shadow ease-in-out 0.15s;
        -webkit-transition: border-color ease-in-out 0.15s,
          -webkit-box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s,
          -webkit-box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
          -webkit-box-shadow ease-in-out 0.15s;
      }
      textarea {
        height: auto;
      }
    }
    .btn-save {
      color: #fff;
      background-color: #007bff;
      border-color: #007bff;
      float: right;
    }
    .btn-add-note {
      color: #212529;
      background-color: transparent;
      border-color: #ccc;
      float: right;
      span {
        font-size: 24px;
        font-weight: 600;
        padding: 0 10px 0 0;
        line-height: 1;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .container .left-sidebar {
    border-right: 0;
    order: 2;
    max-width: 100%;
  }
}
